<header>
        <nav>
            <a  href="/">
                <h1>Inicio</h1>
            </a>
            <a href="/create">
                <h1>Adicionar</h1>
            </a>
        </nav>
</header>