@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@1,300&display=swap');

body{
    background-color: #000000
}

* {
    margin: 0%;
    padding: 0%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

header{
    padding: 25px;
    background-color: white;
    text-align: center;
    justify-content: space-evenly;
}

section#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

section#cards div.card{
    width: 15rem;
    font-size: 20px;
    box-shadow: 5px 10px 5px #696969;
    background-color: white;
    padding: 1rem;
    color: black;
}

section#cards div.card:hover{
    transform-style: flat;
    background-color: #C0C0C0;
    color: red;
    box-shadow: 5px 10px 5px white
}

a {
    text-decoration: none;
    color: black;
}

section#cards div.card img {
    width: 250px;
    height: 250px;
}

section#cards div.card p.descricao {
    margin-bottom: 1px;
}
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: white; 
    height: auto;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #FF6347;    /* color of the scroll thumb */
  }

  form {
      color: white;
  }

  nav {
      display: flex;
      justify-content: center;
      flex-basis: 10px;
      gap: 10px;
  }
  .btn-container {
      display: flex;
  }

  .btn-container img {
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
  }





  
  

